openapi: 3.1.0
info:
  title: API che il fornitore dei servizi di recapito dovrà mettere a disposizione
  description: >- 
    Il Recapitista espone un path.

    - '/piattaforma-notifiche-ingress/v1/paper-deliveries-progresses/{requestId}' a cui 
      il Consolidatore richiede in modalità pull gli esiti delle postalizzazioni.
    
    E invoca un __webhook__ messo a disposizione dal Consolidatore
      e invocato dal Recapitista allo scopo di notificare gli eventi di progressione dei processi 
      di postalizzazione.
  version: v1.0
servers:
  - url: 'https://api.recapitista.vincitore-gara-recapito.it'
    description: Server url
paths:   
  /piattaforma-notifiche-ingress/v1/paper-deliveries-progresses/{requestId}:
    get:
      operationId: getPaperEngageProgresses
      summary: il Consolidatore richiede l'elenco dei progressi di una postalizzazione
      description: >- 
        Questa richiesta permette di ottenere l'elenco degli eventi salienti 
        riguardanti un processo di postalizzazione. <br/>
        Oltre all'elenco degli eventi si ottengono informazioni sulle cause di tali eventi 
        e URL per effettuare il download delle copie digitali conformi dei documenti prodotti 
        durante il processo di postalizzazione. <br>
      parameters:
        - $ref: '#/components/parameters/xPagopaExtchServiceId'
        - $ref: '#/components/parameters/xPagopaExtchApiKey'
        - name: requestId
          description: Identificativo della richiesta di postalizzazione 
          example: 'ABCD-HILM-YKWX-202202-1_rec0_try1'
          in: path
          required: true
          schema:
            type: string  
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaperDeliveryProgressesResponse'
              example:
                responseId: 'ABCD-HILM-YKWX-202202-1_rec0_try1'
                events: []

        '401':
          description: Mancano le credenziali di identificazione o sono sbagliate
          content:
            application/json:
              example: { resultCode: '401.00', resultDescription: 'Authentication Failed', clientResponseTimeStamp: '2019-08-24T14:15:22Z'}
              schema:
                $ref: '#/components/schemas/OperationResultCodeResponse'
        '404':
          description: requestId non corrispondente a un requestId precedentemente richiesto.
          content:
            application/json:
              example: { resultCode: '404.01', resultDescription: 'requestId never sent', clientResponseTimeStamp: '2019-08-24T14:15:22Z'}
              schema:
                $ref: '#/components/schemas/OperationResultCodeResponse'
        


webhooks: 

  ##########################################################################
  ###      NOTIFICHE DI AVANZAMENTO DEL PROCESSO DI POSTALIZZAZIONE      ###
  ##########################################################################

  push-progress-events-to-notification-platform:
    post:
      operationId: sendPaperProgressStatusRequest
      summary: Webhook con cui PN riceve progressi postalizzazioni
      parameters:
        - $ref: '#/components/parameters/xPagopaExtchServiceId'
        - $ref: '#/components/parameters/xPagopaExtchApiKey'
      requestBody:
        content:
          application/json:
            schema:
              type: array
              minItems: 1
              items:
                $ref: '#/components/schemas/PaperProgressStatusEvent'
        required: true
      responses:
        '202':
          description: >-
            OK, l'evento è stato registrato
          content:
            application/json:
              example: { resultCode: '202.00', resultDescription: 'Accepted', clientResponseTimeStamp: '2019-08-24T14:15:22Z'}
              schema:
                $ref: '#/components/schemas/OperationResultCodeResponse'
        '400':
          description: >- 
            Il ricevente ha eseguito la validazione sintattica o semantica dei campi e 
            tale validazione è fallita: possiblie mismatch di versione
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationResultCodeResponse'
              examples: 
                syntaxError: 
                  summary: 'Errore sintattico'
                  value: { resultCode: '400.01', resultDescription: 'Syntax Error', errorList: [ 'field requestId is required'], clientResponseTimeStamp: '2019-08-24T14:15:22Z'}
                semanticError: 
                  summary: 'Errore semantico'
                  value: { resultCode: '400.02', resultDescription: 'Semantic Error', errorList: [ 'unrecognized product Type'], clientResponseTimeStamp: '2019-08-24T14:15:22Z'}  
        '401':
          description: >- 
            Il sistema chiamante non è stato identificato, verificare le configurazioni
          content:
            application/json:
              example: { resultCode: '401.00', resultDescription: 'Authentication Failed', clientResponseTimeStamp: '2019-08-24T14:15:22Z'}
              schema:
                $ref: '#/components/schemas/OperationResultCodeResponse'


components:

  parameters:
    xPagopaExtchServiceId:
      name: x-pagopa-extch-service-id
      description: Identificativo con cui il Consolidatore si identifica
      in: header
      required: true
      schema:
        type: string
    xPagopaExtchApiKey:
      name: x-api-key
      description: Credenziale di accesso
      in: header
      required: true
      schema:
        type: string
  
  schemas:

    ### - RISPOSTA
    ##################

    OperationResultCodeResponse:
      required:
        - resultCode
        - resultDescription  
        - clientResponseTimeStamp 
      type: object
      properties:
        resultCode:
          type: string
          example: '400.00'
          description: >-
            Codice a 5 cifre separate da punto che indica l’esito della richiesta.  LE prime tre sono ripetizione del codice HTTP<br/>
            Per convenzione, la sequenza 2000 indicherà OK. <br />
            - '200.00' OK <br />
            - '400.01' Errore di validazione sintattica del messaggio <br />
            - '400.02' Errore di validazione regole semantiche <br />
            - '404.00' requestId mai ricevuto <br />
            - '409.00' requestId già utilizzato <br />
            - '500.xy' Errori interni al server <br />
            - .... Altri errori previsti dalla specifica implementazione <br />
        resultDescription:
          type: string
          example: 'Request validation errors'
          description: >-
            Descrizione dell’Esito dell’operazione, sempre valorizzato, anche in caso di esito positivo. <br />
            In caso di errore dovrà contenere info utili al chiamante per indirizzare le azioni correttive necessarie. <br />
            In nessun caso conterrà dettagli tecnici e/o stack trace. <br />
        errorList: 
          type: array
          items:
            type: string
            example: 'unsupported printType value'
          description: >-
            Elenco degli errori di validazione, se presenti.
        clientResponseTimeStamp: 
          type: string
          format: date-time
          description: >-
            Timestamp della response in UTC  
    
    
    ##########################################################################
    ###      NOTIFICHE DI AVANZAMENTO DEL PROCESSO DI POSTALIZZAZIONE      ###
    ##########################################################################

    ### - EVENTO SINGOLO
    #####################

    PaperProgressStatusEvent:
      required:
        - requestId
        - statusCode
        - statusDescription
        - statusDateTime        
        - productType
        - clientRequestTimeStamp
      type: object
      properties:
        requestId:
          type: string
          description: >-
            Identificativo della richiesta.
          example: 'ABCD-HILM-YKWX-202202-1_rec0_try1'  
        registeredLetterCode:
          type: string
          description: >-
            Il codice di tracciatura obbligatorio per i prodotti di corrispondenza tracciata.
          example: '123456789abc'
        productType:
          description: >-
            Tipo prodotto di cui viene chiesto il recapito:  <br/>
            - __AR__: Raccomandata Andata e Ritorno,  <br/>
            - __890__: Recapito a norma della legge 890/1982,  <br/>
            - __RI__: Raccomandata Internazionale,  <br/>
            - __RS__: Raccomandata Semplice (per Avviso di mancato Recapito). <br/>
            - ... ulteriori prodotti concordati con il Recapitista <br/>
          type: string
        iun: 
          type: string
          description: >-
            Identificativo Unico della Notifica. Proviene dalla richiesta originaria di PN.
          example: 'ABCD-HILM-YKWX-202202-1'
        statusCode:
          type: string
          description: >-
            _Codifica sintetica dello stato dell'esito._  <br/>
            - __001__ Stampato  <br/>
            - __002__ Disponibile al recapitista  <br/>
            - __003__ Preso in carico dal recapitista  <br/>
            - __004__ Consegnata  <br/>
            - __005__ Mancata consegna  <br/>
            - __006__ Furto/Smarrimanto/deterioramento  <br/>
            - __007__ Consegnato Ufficio Postale  <br/>
            - __008__ Mancata consegna Ufficio Postale  <br/>
            - __009__ Compiuta giacenza  <br/>
            - ... Stati aggiuntivi concordati con il Recapitista
        statusDescription: 
          type: string
          example: 'Stampato'
          description: >-
            Descrizione dello stato del delivery cartaceo che viene notificato.
        statusDateTime:
          type: string
          format: date-time
          description: >-
            Data stato con timezone
        deliveryFailureCause: 
          description: >-
            _Motivazione di mancata consegna_ obbligtorie negli stati di mancata consegna  <br/>
            - __01__ destinatario irreperibile <br/>
            - __02__ destinatario deceduto <br/>
            - __03__ destinatario sconosciuto <br/>
            - __04__ destinatario trasferito <br/>
            - __05__ invio rifiutato <br/>
            - __06__ indirizzo inesatto <br/>
            - __07__ indirizzo inesistente <br/>
            - __08__ indirizzo insufficiente <br/>
            - ... Motivazioni aggiuntive concordate con il Recapitista
          type: string
        attachments:
          description: >-
            elenco dei documenti prodotti che attestano quanto accaduto durante il processo 
            di postalizzazione
          type: array
          items:
            type: object
            required: 
              - id
              - documentType
              - url
              - date
            properties:
              id: 
                type: string
                description: >-
                  Identificativo di riga.
              documentType:
                type: string
                description: >-
                  La descrizione della tipologia di oggetto.
              url:
                type: string
                description: >-
                  Le coordinate del documento correlato allo stato. 
              date:
                type: string
                format: date-time
                description: >-
                  Data di produzione del documento.
        discoveredAddress:
          description: >-
            Indirizzo del destinatario desunto dalle indagini del personale postale.
          required:
            - name
            - address
            - city
          properties:  
            name:
              type: string
              description: >-
                Cognome e nome o ragione sociale del destinatario
            nameRow2:
              type: string
              description: >-
                Seconda riga sulla busta.
            address:
              type: string
              description: >-
                Indirizzo del destinatario.
            addressRow2:
              type: string
              description: >-
                Specifica dell’indirizzo di residenza del destinatario (seconda riga indirizzo sulla busta).
            cap:
              type: string
              description: >-
                Cap del destinatario; in caso di invio estero diventa facoltativo.
            city:
              type: string
              description: >-
                Comune del destinatario.
            city2:
              type: string
              description: >-
                Frazione del destinatario. Potrebbe essere utile se il chiamante non fornisce il cap.
            pr:
              type: string
              description: >-
                Provincia del destinatario; in caso di invio estero diventa facoltativo.
            country:
              type: string
              description: >-
                In caso di destinatario estero, diventa obbligatoria l’indicazione della nazione di destinazione, 
                in standard UPU o altro standard condiviso.
        clientRequestTimeStamp:
          type: string
          format: date-time
          description: >-
            Timestamp della richiesta in UTC

    ### - LISTA DI EVENTI RELATIVI A UNA STESSA RICHIESTA
    ######################################################
      
    PaperDeliveryProgressesResponse:
      type: object
      required:
        - requestId
        - events
      properties:
        requestId:
          type: string
          description: >-
            Identificativo della richiesta di postalizzazione.
          example: 'ABCD-HILM-YKWX-202202-1_rec0_try1'
        events:
          type: array
          items:
            $ref: '#/components/schemas/PaperProgressStatusEvent'

